<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
<div class="login-container">
    <h1>Login</h1>
    <form th:action="@{/login}" method="post">
        <div class="input-group">
            <label for="email">E-mail</label>
            <input type="text" id="email" name="email" required>
        </div>
        <div class="input-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Login</button>
    </form>
    <div class="create-account">
        <p>Don't have an account? <a th:href="@{/register}">Create Account</a></p>
    </div>
    <div th:if="${param.error}">
        <p class="error">Invalid email or password.</p>
    </div>
    <div th:if="${param.existUserError}">
        <p class="error"><span th:text="${emailexist}">User already exist. please log in!!!</p>
    </div>
</div>
</body>
</html>