<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <title> Movies</title>

    <link rel="stylesheet" type="text/css" href="../static/signup.css">
</head>
<body>
<div class="login-container">
    <h1>Sign Up</h1>
    <p>It's quick and easy.</p>
    <form method="post" th:action="@{/process_register}" th:object="${user}">
        <div class="input-group">
            <label for="name">Name</label>
            <input id="name" name="name" class="form-control" maxlength="20" minlength="6" required th:field="*{name}"
                   type="text"/>
        </div>
        <div class="input-group">
            <label for="email">E-mail</label>
            <input id="email" class="form-control" maxlength="20" minlength="6" required th:field="*{email}"
                   type="email"/>
        </div>
        <div class="input-group">
            <label for="password">Password</label>
            <input name="password" id="password" class="form-control" maxlength="10" minlength="6" required
                   th:field="*{password}" type="password"/>
        </div>
        <button type="submit" class="btn-primary">Sign Up</button>
    </form>
    <div class="create-account">
        <p>have an account? <a href="/login">login</a></p>
    </div>
</div>
</body>
</html>
</html>